<!DOCTYPE html>
<html>
  <head>
    <title>Rikutter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#<%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'rikutteriphone.png', :rel => 'apple-touch-icon'%>

  </head>

  <body id="application">
  	<div>
      <%= render partial: "layouts/header"%>
	    <%= yield %>
  	</div>
  	
  </body>
</html>
